:root {
  --title-color: grey;
  --primary-color: #34cb79
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #000;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;

}

h1, h2 h3, h5 {
  font-family: Ubuntu, sans-serif;
  font-style: italic;
  color: var(--title-color);
}
